<div class="my-3 mx-2">
    <h5>From Event</h5>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="row row-cols-1 row-cols-md-4 g-4 m-2">

            <div class="col">
                <div class="card">
                    <div class="card-header">Add Video</div>
                    <div class="card-body">
                        <button #addVideoBtn class="btn btn-primary">Add</button>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-header">List</div>
                    <div class="card-body">
                        <ul id="elemContainer">

                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-4"></div>
</div>