<div class="my-3 mx-2">
    <h5>Map</h5>

    <br>

    <div class="row">
        <div class="col-md-4">
            <strong>Ex - 01 (String)</strong>
            <hr>
            <p class="border rounded bg-light p-2">
                <strong>Map:</strong> `Video $&#123;data&#125;`
            </p>
            <br>
            <p>Message <strong class="text-success">{{msg1}}</strong></p>
        </div>
        <div class="col-md-4">
            <strong>Ex - 02 (Number)</strong>
            <hr>
            <p class="border rounded bg-light p-2">
                <strong>Map:</strong> data * 3
            </p>
            <br>
            <p>Message <strong class="text-success">{{msg2}}</strong></p>
        </div>
        <div class="col-md-4">
            <strong>Ex - 03 (Object)</strong>
            <hr>
            <p class="border rounded bg-light p-2">
                <strong>Map:</strong>
                <code>
                    from([<br>
                    &nbsp; &#123; id: 1, name: 'Rohit' &#125;, <br>
                    &nbsp; &#123; id: 2, name: 'Aman' &#125;, <br>
                    &nbsp; &#123; id: 3, name: 'Chaman' &#125;, <br>
                    &nbsp; &#123; id: 4, name: 'Anup' &#125;<br>
                    &nbsp; &#123; id: 5, name: 'Samuel' &#125;<br>
                    &nbsp; &#123; id: 6, name: 'John' &#125;<br>
                    &nbsp; &#123; id: 7, name: 'Rahul' &#125;<br>
                    &nbsp; &#123; id: 8, name: 'Nakul' &#125;<br>
                    ])
                </code>
            </p>
            <br>
            <ul id="mapContainer">

            </ul>
        </div>

    </div>
</div>